@define-color background-color #061115;
@define-color border-color     #313C40;

@define-color label            #D9D7D6;
@define-color image            #78B892;

@define-color progress         #67AFC1;
