@define-color bg        #061115;
@define-color bg_alt    #0d181c;
@define-color bg_module #131e22;
@define-color bg_hover  #1c272b;
@define-color bg_active #242f33;

@define-color fg        #D9D7D6;
@define-color fg_dim    #b4b4b4;
@define-color fg_muted  #455054;

@define-color red       #DF5B61;
@define-color green     #78B892;
@define-color blue      #6791C9;
@define-color nord_blue #5A84BC;
@define-color teal      #7ACFE4;
@define-color yellow    #ecd28b;
@define-color orange    #E89982;
@define-color purple    #C488EC;
