@import "colors.css";

* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-weight: 600;
  font-size: 15px;
  color: @fg;
}

#waybar {
  background-color: alpha(@bg, 0.85);
  border-bottom: 2px solid alpha(@fg_muted, 0.6);
  transition: background-color 0.4s ease;
}

#waybar button:hover {
  background-color: alpha(@fg, 0.04);
  border-radius: 8px;
}

.tray-group-item {
  padding: 0 6px;
  color: @fg_dim;
}

.tray-group-item:hover {
  color: @fg;
}

#tray {
  padding: 0 6px;
  background: transparent;
}

.modules-left {
  margin-left: 16px;
}

.modules-right {
  margin-right: 18px;
}

#tags {
  border-radius: 4px;
  background: none;
}

#tags button {
  color: #6b6b6b;
  border: none;
  transition: color 0.3s ease;
  background: none;
  box-shadow: inherit;
  text-shadow: inherit;
  padding: 1px;
  padding-left: 1px;
  padding-right: 1px;
  margin-right: 4px;
}

#tags button.focused {
  background-color: @bg;
  color: @nord_blue;
  margin-top: 5px;
  margin-bottom: 6px;
  border-radius: 3px;
}

#tags button:hover {
  color: @blue;
}

#tags button {
  color: #6b6b6b;
}

#tags button.occupied {
  color: @fg;
}

#tags button.focused {
  background-color: @bg;
  color: @nord_blue;
  border-radius: 3px;
}

#tags button.urgent {
  color: @red;
}

#tags button.overview {
  color: #ddca9e;
}

#tags button:not(.occupied):not(.focused) {
  color: blue;
  background-color: transparent;
}

#mpris {
  color: @purple;
}

#mpris.paused {
  color: @fg_dim;
}

#custom-cava {
  color: @purple;
  opacity: 0.75;
}

#window {
  color: @fg;
}

#clock {
  padding-left: 6px;
  color: @yellow;
}

#custom-seperator {
  margin: 0 -4px;
  color: @fg_muted;
  opacity: 0.3;
}

#custom-expand-icon {
  padding: 0 6px;
  color: @nord_blue;
}

#custom-brightness {
  padding: 0 6px;
  color: @yellow;
}

#custom-nightlight {
  padding: 0 6px;
  color: @orange;
}

#power-profiles-daemon {
  padding: 0 6px;
  color: @green;
}

#power-profiles-daemon.performance {
  color: @red;
}

#power-profiles-daemon.power-saver {
  color: @teal;
}

#network {
  padding: 0 6px;
  color: @blue;
}

#network.disconnected {
  color: @red;
}

#bluetooth {
  padding: 0 6px;
  color: @teal;
}

#bluetooth.disabled {
  color: @fg_dim;
}

#custom-volume {
  padding: 0 6px;
  color: @orange;
}

#custom-volume.muted {
  color: @fg_dim;
}

#custom-swaync {
  padding: 0 6px;
  color: @nord_blue;
}

#custom-swaync.dnd {
  color: @purple;
}
